{
  "name": "{{ name }}",
  "version": "0.0.1",
  "description": "Subgraph for {{ name }} on {{ network }}",
  "scripts": {
    "codegen": "graph codegen",
    "build": "graph build",
    "deploy": "graph deploy --node https://api.studio.thegraph.com/deploy/ {{ name }}",
    "create-local": "graph create --node http://localhost:8020/ {{ name }}",
    "remove-local": "graph remove --node http://localhost:8020/ {{ name }}",
    "deploy-local": "graph deploy --node http://localhost:8020/ --ipfs http://localhost:5001 {{ name }}"
  },
  "dependencies": {
    "@graphprotocol/graph-cli": "{{ graph_cli_version }}",
    "@graphprotocol/graph-ts": "{{ graph_ts_version }}"
  },
  "devDependencies": {}
}
